In [1]:
import pandas as pd
import numpy as np

# Checkpoint 1: Data Cleaning 1

### Load the companies and rounds data (provided on the previous page) into two data frames and name them companies and rounds2 respectively.

In [55]:
#reading the companies data set
companies = pd.read_csv("C:/Users/vemul/Desktop/DataScience/Investment Case Study/Companies.txt", 
                        delimiter = '\t',
                       encoding = 'ISO-8859-1')

In [56]:
#reading the rounds2 data set
rounds2 = pd.read_csv("C:/Users/vemul/Desktop/DataScience/Investment Case Study/rounds2.csv",
                     encoding = 'ISO-8859-1')

In [57]:
#checking the column names of companies data set
companies.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [58]:
#shape of companies data set
companies.shape

(66368, 10)

In [59]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [60]:
#checking the companies data set for encoding issues in columns after loading
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
15,/Organization/1-Mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
16,/Organization/1-Of-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
17,/Organization/10-20-Media,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
18,/Organization/10-Minutes-With,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
19,/Organization/1000-Corks,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
20,/Organization/1000-Markets,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
21,/Organization/1000Chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/Organization/1000Lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
23,/Organization/1000Memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
24,/Organization/1000Museums-Com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
25,/Organization/1001-Menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
26,/Organization/1001Pharmacies-Com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
27,/Organization/1006-Tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
28,/Organization/100Du-Tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
29,/Organization/100E-Com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
...,...,...,...,...,...,...,...,...,...,...
66338,/Organization/Zykis,Zykis,http://zykis.com,Automotive|Data Security|Education|Kids|Portal...,closed,USA,CA,Anaheim,Irvine,27-10-2006
66339,/Organization/Zylie-The-Bear,Zylie the Bear,http://zyliethebear.com,E-Commerce,operating,USA,CT,Hartford,Greenwich,01-01-2009
66340,/Organization/Zylun-Staffing,Zylun Staffing,http://www.zylun.com,Software,operating,USA,UT,Salt Lake City,Lehi,01-01-2010
66341,/Organization/Zyme-Solutions,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004
66342,/Organization/Zymergen,Zymergen,http://www.zymergen.com,Biotechnology,operating,USA,CA,SF Bay Area,Emeryville,01-01-2013
66343,/Organization/Zymetis,Zymetis,http://www.zymetis.com,Biotechnology,closed,USA,MD,"Washington, D.C.",College Park,01-01-2006
66344,/Organization/Zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
66345,/Organization/Zymochem,Zymochem,http://www.zymochem.com,Specialty Chemicals,operating,USA,CA,SF Bay Area,San Francisco,01-05-2013
66346,/Organization/Zympi,Zympi,http://www.zympi.com,Mobile|Networking|Web Hosting,operating,USA,CA,Ontario - Inland Empire,Redlands,03-09-2010
66347,/Organization/Zymr-Inc-,"Zymr, Inc.",http://www.zymr.com,Android|Apps|Cloud Computing|Cloud Infrastruct...,operating,USA,CA,SF Bay Area,Santa Clara,NaN
66348,/Organization/Zyncd,Zyncd,http://www.zyncd.com,Crowdsourcing|Knowledge Management,operating,GBR,H9,London,London,01-01-2014
66349,/Organization/Zyncro,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009
66350,/Organization/Zynerba-Pharmaceuticals,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,ipo,USA,PA,Philadelphia,Radnor,01-01-2014
66351,/Organization/Zynergy-Projects-Services,Zynergy Projects & Services,http://www.zynergygroup.net/,Clean Technology,operating,IND,25,Chennai,Chennai,NaN
66352,/Organization/Zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
66353,/Organization/Zyngenia,Zyngenia,http://www.zyngenia.com,Biotechnology,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-2008
66354,/Organization/Zynstra,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
66355,/Organization/Zyomyx-Inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
66356,/Organization/Zype,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013
66357,/Organization/Zypsee,Whisk (formerly Zypsee),http://whisk.me,Public Transportation,operating,USA,NY,New York City,New York,01-01-2011
66358,/Organization/Zyraz-Technology,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
66359,/Organization/Zyrra,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
66360,/Organization/Zystor,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
66361,/Organization/Zytoprotec,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
66362,/Organization/Zzish,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [61]:
#resolving the encoding issues in the columns
companies['permalink'] = companies.permalink.str.encode('ISO-8859-1').str.decode('ascii','ignore')
companies['name'] = companies.name.str.encode('ISO-8859-1').str.decode('ascii','ignore')
companies['region'] = companies.region.str.encode('ISO-8859-1').str.decode('ascii','ignore')
companies['city'] = companies.city.str.encode('ISO-8859-1').str.decode('ascii','ignore')

In [62]:
#rechecking for resolution
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
15,/Organization/1-Mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
16,/Organization/1-Of-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
17,/Organization/10-20-Media,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
18,/Organization/10-Minutes-With,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
19,/Organization/1000-Corks,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
20,/Organization/1000-Markets,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
21,/Organization/1000Chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/Organization/1000Lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
23,/Organization/1000Memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
24,/Organization/1000Museums-Com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
25,/Organization/1001-Menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
26,/Organization/1001Pharmacies-Com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
27,/Organization/1006-Tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
28,/Organization/100Du-Tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
29,/Organization/100E-Com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
...,...,...,...,...,...,...,...,...,...,...
66338,/Organization/Zykis,Zykis,http://zykis.com,Automotive|Data Security|Education|Kids|Portal...,closed,USA,CA,Anaheim,Irvine,27-10-2006
66339,/Organization/Zylie-The-Bear,Zylie the Bear,http://zyliethebear.com,E-Commerce,operating,USA,CT,Hartford,Greenwich,01-01-2009
66340,/Organization/Zylun-Staffing,Zylun Staffing,http://www.zylun.com,Software,operating,USA,UT,Salt Lake City,Lehi,01-01-2010
66341,/Organization/Zyme-Solutions,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004
66342,/Organization/Zymergen,Zymergen,http://www.zymergen.com,Biotechnology,operating,USA,CA,SF Bay Area,Emeryville,01-01-2013
66343,/Organization/Zymetis,Zymetis,http://www.zymetis.com,Biotechnology,closed,USA,MD,"Washington, D.C.",College Park,01-01-2006
66344,/Organization/Zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
66345,/Organization/Zymochem,Zymochem,http://www.zymochem.com,Specialty Chemicals,operating,USA,CA,SF Bay Area,San Francisco,01-05-2013
66346,/Organization/Zympi,Zympi,http://www.zympi.com,Mobile|Networking|Web Hosting,operating,USA,CA,Ontario - Inland Empire,Redlands,03-09-2010
66347,/Organization/Zymr-Inc-,"Zymr, Inc.",http://www.zymr.com,Android|Apps|Cloud Computing|Cloud Infrastruct...,operating,USA,CA,SF Bay Area,Santa Clara,NaN
66348,/Organization/Zyncd,Zyncd,http://www.zyncd.com,Crowdsourcing|Knowledge Management,operating,GBR,H9,London,London,01-01-2014
66349,/Organization/Zyncro,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009
66350,/Organization/Zynerba-Pharmaceuticals,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,ipo,USA,PA,Philadelphia,Radnor,01-01-2014
66351,/Organization/Zynergy-Projects-Services,Zynergy Projects & Services,http://www.zynergygroup.net/,Clean Technology,operating,IND,25,Chennai,Chennai,NaN
66352,/Organization/Zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
66353,/Organization/Zyngenia,Zyngenia,http://www.zyngenia.com,Biotechnology,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-2008
66354,/Organization/Zynstra,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
66355,/Organization/Zyomyx-Inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
66356,/Organization/Zype,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013
66357,/Organization/Zypsee,Whisk (formerly Zypsee),http://whisk.me,Public Transportation,operating,USA,NY,New York City,New York,01-01-2011
66358,/Organization/Zyraz-Technology,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
66359,/Organization/Zyrra,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
66360,/Organization/Zystor,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
66361,/Organization/Zytoprotec,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
66362,/Organization/Zzish,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/Eron,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [63]:
#checking the column names for rounds2 data set
rounds2.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [64]:
rounds2.shape

(114949, 6)

In [65]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [66]:
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
13,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,150000.0
14,/organization/1,/funding-round/5de6d8828aef7d925d97918d15727670,undisclosed,NaN,05-02-2013,NaN
15,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,NaN,20-07-2011,1000050.0
16,/organization/1-2-3-listo,/funding-round/6de4609e894495105bc791ed64361288,seed,NaN,18-02-2013,40000.0
17,/ORGANIZATION/1-4-ALL,/funding-round/e97a192e13ea0ee3c4f71136b4f3ec16,equity_crowdfunding,NaN,21-04-2013,NaN
18,/organization/1-618-technology,/funding-round/83b8f4c7d37ecef5e001a5e953bf461a,equity_crowdfunding,NaN,22-01-2014,NaN
19,/ORGANIZATION/1-800-DENTIST,/funding-round/5274aacc211163fc7c86539ce94bbacc,undisclosed,NaN,19-08-2010,NaN
20,/organization/1-800-doctors,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,NaN,02-03-2011,1750000.0
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
23,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,NaN,13-12-2014,100000.0
24,/organization/10-20-media,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,NaN,11-01-2011,800000.0
25,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,NaN,18-06-2009,500000.0
26,/organization/10-20-media,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,NaN,28-12-2011,500000.0
27,/ORGANIZATION/10-20-MEDIA,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,NaN,30-03-2010,250000.0
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0
29,/ORGANIZATION/10-MINUTES-WITH,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,NaN,01-01-2013,400000.0
...,...,...,...,...,...,...
114919,/ORGANIZATION/ZYNSTRA,/funding-round/dee233b3434185c14b3352034f72d798,angel,NaN,18-09-2012,2325000.0
114920,/organization/zyomyx-inc,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0
114921,/ORGANIZATION/ZYOMYX-INC,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0
114922,/organization/zyomyx-inc,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0
114923,/ORGANIZATION/ZYOMYX-INC,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,NaN,29-01-2010,555016.0
114924,/organization/zype,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,NaN,01-04-2015,1700000.0
114925,/ORGANIZATION/ZYPE,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,NaN,27-10-2015,1600000.0
114926,/organization/zypsee,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,NaN,25-09-2013,2150000.0
114927,/ORGANIZATION/ZYPSEE,/funding-round/c67e22c5448435adaf5a2d101e449dde,seed,NaN,26-07-2013,NaN
114928,/organization/zyraz-technology,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,NaN,15-02-2013,20967.0
114929,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,NaN,01-01-2008,2007363.0
114930,/organization/zyraz-technology,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0
114931,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0
114932,/organization/zyrra,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,NaN,15-11-2010,445000.0
114933,/ORGANIZATION/ZYRRA,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,NaN,21-10-2010,50000.0
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,140500.0
114935,/ORGANIZATION/ZYRRA,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,NaN,15-12-2010,875000.0
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0
114937,/ORGANIZATION/ZYTOPROTEC,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2686600.0
114938,/organization/zzish,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,NaN,25-02-2015,400000.0
114939,/ORGANIZATION/ZZISH,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,NaN,31-10-2014,400000.0
114940,/organization/zzish,/funding-round/73721fffc980d228f051e87422aa8732,seed,NaN,24-03-2014,320000.0
114941,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0
114942,/organization/zzzzapp-com,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,7000.0
114943,/ORGANIZATION/ZZZZAPP-COM,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [67]:
#resolving encoding issues in columns of rounds2
rounds2['company_permalink'] = rounds2.company_permalink.str.encode('ISO-8859-1').str.decode('ascii','ignore')

In [68]:
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0
11,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
13,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,150000.0
14,/organization/1,/funding-round/5de6d8828aef7d925d97918d15727670,undisclosed,NaN,05-02-2013,NaN
15,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,NaN,20-07-2011,1000050.0
16,/organization/1-2-3-listo,/funding-round/6de4609e894495105bc791ed64361288,seed,NaN,18-02-2013,40000.0
17,/ORGANIZATION/1-4-ALL,/funding-round/e97a192e13ea0ee3c4f71136b4f3ec16,equity_crowdfunding,NaN,21-04-2013,NaN
18,/organization/1-618-technology,/funding-round/83b8f4c7d37ecef5e001a5e953bf461a,equity_crowdfunding,NaN,22-01-2014,NaN
19,/ORGANIZATION/1-800-DENTIST,/funding-round/5274aacc211163fc7c86539ce94bbacc,undisclosed,NaN,19-08-2010,NaN
20,/organization/1-800-doctors,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,NaN,02-03-2011,1750000.0
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
23,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,NaN,13-12-2014,100000.0
24,/organization/10-20-media,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,NaN,11-01-2011,800000.0
25,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,NaN,18-06-2009,500000.0
26,/organization/10-20-media,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,NaN,28-12-2011,500000.0
27,/ORGANIZATION/10-20-MEDIA,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,NaN,30-03-2010,250000.0
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0
29,/ORGANIZATION/10-MINUTES-WITH,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,NaN,01-01-2013,400000.0
...,...,...,...,...,...,...
114919,/ORGANIZATION/ZYNSTRA,/funding-round/dee233b3434185c14b3352034f72d798,angel,NaN,18-09-2012,2325000.0
114920,/organization/zyomyx-inc,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0
114921,/ORGANIZATION/ZYOMYX-INC,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0
114922,/organization/zyomyx-inc,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0
114923,/ORGANIZATION/ZYOMYX-INC,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,NaN,29-01-2010,555016.0
114924,/organization/zype,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,NaN,01-04-2015,1700000.0
114925,/ORGANIZATION/ZYPE,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,NaN,27-10-2015,1600000.0
114926,/organization/zypsee,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,NaN,25-09-2013,2150000.0
114927,/ORGANIZATION/ZYPSEE,/funding-round/c67e22c5448435adaf5a2d101e449dde,seed,NaN,26-07-2013,NaN
114928,/organization/zyraz-technology,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,NaN,15-02-2013,20967.0
114929,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,NaN,01-01-2008,2007363.0
114930,/organization/zyraz-technology,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0
114931,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0
114932,/organization/zyrra,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,NaN,15-11-2010,445000.0
114933,/ORGANIZATION/ZYRRA,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,NaN,21-10-2010,50000.0
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,140500.0
114935,/ORGANIZATION/ZYRRA,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,NaN,15-12-2010,875000.0
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0
114937,/ORGANIZATION/ZYTOPROTEC,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2686600.0
114938,/organization/zzish,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,NaN,25-02-2015,400000.0
114939,/ORGANIZATION/ZZISH,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,NaN,31-10-2014,400000.0
114940,/organization/zzish,/funding-round/73721fffc980d228f051e87422aa8732,seed,NaN,24-03-2014,320000.0
114941,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0
114942,/organization/zzzzapp-com,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,7000.0
114943,/ORGANIZATION/ZZZZAPP-COM,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

### How many unique companies are present in rounds2?

In [69]:
rounds2.company_permalink.str.lower().nunique()

66368

*There are 66368 unique companies present in rounds2*

### How many unique companies are present in the companies file?

In [70]:
companies.permalink.str.lower().nunique()

66368

*There are 66368 unique companies present in rounds2*

### Are there any companies in the rounds2 file which are not  present in companies ? Answer Y/N.

In [71]:
#converting the column to lower case for comparison
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()
companies['permalink'] = companies['permalink'].str.lower()

In [72]:
#number of companies in rounds2 data frame which are not there in companies data frame
len(set(rounds2['company_permalink']) - set(companies['permalink']))

0

*There are no extra companies in rounds2 dataframe compared with companies dataframe .*<br><br>
___Note: Doing difference operations on two sets (A-B) returns only the unique values in A. Hence we can sfely say that all the companies in rounds2 data set are present in companies data set.

### Merge the two data frames so that all  variables (columns)  in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame ?

In [73]:
master_frame = pd.merge(rounds2, companies, how = 'inner', left_on = 'company_permalink', right_on = 'permalink')

In [74]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [75]:
master_frame.shape

(114949, 16)

##### Null value treatment

In [76]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
permalink                  114949 non-null object
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [77]:
master_frame.isnull().sum(axis = 0)

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [78]:
master_frame.isnull().sum(axis = 1)

0         1
1         1
2         1
3         5
4         0
5         2
6         3
7         1
8         1
9         1
10        0
11        1
12        0
13        1
14        2
15        1
16        1
17        4
18        2
19        2
20        1
21        1
22        1
23        2
24        1
25        1
26        1
27        1
28        0
29        1
         ..
114919    1
114920    0
114921    1
114922    1
114923    1
114924    1
114925    1
114926    1
114927    2
114928    1
114929    1
114930    1
114931    0
114932    2
114933    2
114934    2
114935    2
114936    1
114937    0
114938    1
114939    1
114940    1
114941    1
114942    1
114943    1
114944    1
114945    1
114946    6
114947    1
114948    6
Length: 114949, dtype: int64

In [79]:
round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index))

company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funding_round_code         73.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                8.0
state_code                 10.0
region                      9.0
city                        9.0
founded_at                 18.0
dtype: float64

In [80]:
#dropping funding_round_code column as not required for analysis
master_frame = master_frame.drop('funding_round_code', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 15)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                8.0
state_code                 10.0
region                      9.0
city                        9.0
founded_at                 18.0
dtype: float64

#### Rows naving null country code

In [81]:
master_frame['country_code'] = master_frame['country_code'].astype('category')
round(100*master_frame['country_code'].value_counts()/len(master_frame.index),2)

USA    62.90
GBR     5.19
CAN     2.71
CHN     2.34
IND     1.94
DEU     1.52
FRA     1.44
ISR     1.42
ESP     1.07
AUS     0.66
IRL     0.63
NLD     0.63
SGP     0.63
BRA     0.61
SWE     0.59
RUS     0.58
JPN     0.56
ITA     0.51
CHE     0.49
KOR     0.47
DNK     0.40
FIN     0.39
CHL     0.39
ARG     0.29
BEL     0.28
HKG     0.27
TUR     0.22
MEX     0.20
NOR     0.19
BGR     0.18
       ...
KWT     0.00
MAF     0.00
CIV     0.00
ZMB     0.00
KAZ     0.00
MOZ     0.00
BLZ     0.00
NIC     0.00
HND     0.00
PSE     0.00
BAH     0.00
QAT     0.00
GGY     0.00
SEN     0.00
SOM     0.00
SYC     0.00
TGO     0.00
UZB     0.00
PRY     0.00
BRN     0.00
OMN     0.00
BLM     0.00
MNE     0.00
BRB     0.00
DZA     0.00
JEY     0.00
IRN     0.00
DMA     0.00
GRD     0.00
KNA     0.00
Name: country_code, Length: 137, dtype: float64

In [82]:
#imputing the missing values with USA
master_frame.loc[master_frame['country_code'].isnull(),'country_code'] = 'USA'
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 15)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                0.0
state_code                 10.0
region                      9.0
city                        9.0
founded_at                 18.0
dtype: float64

#### Rows having null state code

In [83]:
#master_frame['state_code'] = master_frame['state_code'].astype('category')
round(100*master_frame['state_code'].value_counts()/len(master_frame.index),2)

CA    23.20
NY     6.39
MA     5.04
TX     3.19
H9     2.79
WA     2.23
7      1.90
FL     1.75
2      1.69
PA     1.68
IL     1.59
CO     1.59
ON     1.27
GA     1.16
VA     1.13
NC     1.09
5      1.09
MD     1.06
NJ     1.05
OH     1.03
22     1.01
A8     0.95
16     0.95
TN     0.83
MN     0.74
UT     0.73
4      0.69
19     0.68
23     0.67
11     0.67
      ...
V3     0.00
V9     0.00
V7     0.00
O2     0.00
D7     0.00
75     0.00
L8     0.00
W3     0.00
Q6     0.00
62     0.00
Y7     0.00
W2     0.00
GU     0.00
P1     0.00
PE     0.00
T9     0.00
V6     0.00
U1     0.00
Y5     0.00
L7     0.00
P5     0.00
J5     0.00
O1     0.00
F5     0.00
Z8     0.00
Z3     0.00
O3     0.00
79     0.00
44     0.00
WE     0.00
Name: state_code, Length: 311, dtype: float64

In [84]:
#master_frame.loc[master_frame['city_code'].isnull(),'city_code'] = 'CA'
#print(master_frame.shape,'\n\n')
#print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))


#dropping as no state level analysis required
master_frame = master_frame.drop('state_code', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 14)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                0.0
region                      9.0
city                        9.0
founded_at                 18.0
dtype: float64

#### Rows having null region

In [85]:
#master_frame['region'] = master_frame['region'].astype('category')
round(100*master_frame['region'].value_counts()/len(master_frame.index),2)

SF Bay Area            16.60
New York City           5.82
Boston                  4.76
London                  3.48
Los Angeles             2.89
Seattle                 2.16
Washington, D.C.        1.71
San Diego               1.61
Chicago                 1.46
Austin                  1.44
Denver                  1.43
Atlanta                 1.12
Tel Aviv                1.09
Toronto                 1.05
Beijing                 0.96
Dallas                  0.94
Newark                  0.90
Philadelphia            0.89
Anaheim                 0.88
Paris                   0.87
Raleigh                 0.78
Salt Lake City          0.70
Minneapolis             0.66
Singapore               0.60
Pittsburgh              0.59
Portland, Oregon        0.57
Hartford                0.57
Bangalore               0.56
Houston                 0.56
Shanghai                0.55
                       ...
Orleans                 0.00
Hungerford              0.00
Lviv                    0.00
Oviedo                  0.00
Almeria                 0.00
Cceres                  0.00
Pescara                 0.00
South Grafton           0.00
CAN - Other             0.00
Kharkov                 0.00
Madurai                 0.00
Taunton                 0.00
Osijek                  0.00
Kingston                0.00
Cross Hands             0.00
Seychelles              0.00
JOR - Other             0.00
Simferopol              0.00
Foshan                  0.00
Castelfranco Veneto     0.00
Sarnen                  0.00
Gilching                0.00
IRN - Other             0.00
SOM - Other             0.00
Fort Saskatchewan       0.00
ARM - Other             0.00
Ludhiana                0.00
Farnham                 0.00
Alfreton                0.00
Guayaquil               0.00
Name: region, Length: 1092, dtype: float64

In [86]:
#dropping as no region level analysis required
master_frame = master_frame.drop('region', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 13)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                0.0
city                        9.0
founded_at                 18.0
dtype: float64

#### Rows having null city

In [87]:
#master_frame['city'] = master_frame['city'].astype('category')
round(100*master_frame['city'].value_counts()/len(master_frame.index),2)

San Francisco             6.46
New York                  5.34
London                    2.80
Seattle                   1.39
Austin                    1.36
Palo Alto                 1.35
Cambridge                 1.30
Boston                    1.25
Mountain View             1.15
San Diego                 1.15
Los Angeles               1.08
Chicago                   1.05
Beijing                   0.96
San Jose                  0.91
Sunnyvale                 0.83
Paris                     0.77
Santa Clara               0.76
Toronto                   0.75
San Mateo                 0.74
Redwood City              0.72
Atlanta                   0.72
Singapore                 0.59
Shanghai                  0.52
Bangalore                 0.52
Menlo Park                0.51
Pittsburgh                0.51
Dublin                    0.49
Santa Monica              0.48
Tel Aviv                  0.47
Irvine                    0.47
                          ...
Asti                      0.00
Brenham                   0.00
Garching                  0.00
Ventnor                   0.00
Rockfield                 0.00
Vevey                     0.00
Vinding                   0.00
Courtenay                 0.00
Yamato-minami             0.00
West Valley City          0.00
Deuil-la-barre            0.00
Russia                    0.00
Franceau                  0.00
Campbellsville            0.00
Thalheim                  0.00
Alliance                  0.00
Sugar City                0.00
Presov                    0.00
Crozet                    0.00
Albion Park               0.00
Central Valley            0.00
Monaca                    0.00
Montigny-le-bretonneux    0.00
Leek                      0.00
Rocky Mount               0.00
Lviv                      0.00
Vught                     0.00
Mar Del Plata             0.00
Sassari                   0.00
Schuttrange               0.00
Name: city, Length: 5111, dtype: float64

In [88]:
#dropping as no city level analysis required
master_frame = master_frame.drop('city', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 12)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                0.0
founded_at                 18.0
dtype: float64

In [89]:
#dropping founded_at
master_frame = master_frame.drop('founded_at', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 11)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
homepage_url                5.0
category_list               3.0
status                      0.0
country_code                0.0
dtype: float64

In [90]:
#dropping homepage_url
master_frame = master_frame.drop('homepage_url', axis = 1)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(114949, 10)


company_permalink           0.0
funding_round_permalink     0.0
funding_round_type          0.0
funded_at                   0.0
raised_amount_usd          17.0
permalink                   0.0
name                        0.0
category_list               3.0
status                      0.0
country_code                0.0
dtype: float64

#### Null raised_amount_usd

In [91]:
master_frame['raised_amount_usd'].describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

#### Deleting the rows having null raised_amount_usd

In [92]:
master_frame = master_frame.drop(master_frame.loc[master_frame['raised_amount_usd'].isnull()].index, axis = 0)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(94959, 10)


company_permalink          0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
permalink                  0.0
name                       0.0
category_list              1.0
status                     0.0
country_code               0.0
dtype: float64

#### Deleting rows having null category list

In [93]:
master_frame = master_frame.drop(master_frame.loc[master_frame['category_list'].isnull()].index, axis = 0)
print(master_frame.shape,'\n\n')
print(round(100*master_frame.isnull().sum(axis = 0)/len(master_frame.index)))

(93915, 10)


company_permalink          0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
permalink                  0.0
name                       0.0
category_list              0.0
status                     0.0
country_code               0.0
dtype: float64

In [94]:
#percentage of data left
round(100*len(master_frame.index)/114948,2)

81.7

# Checkpoint 2: Funding Type Analysis

In [95]:
#filtering out the desired funding_round_types
investment_type_filtered = master_frame.loc[master_frame['funding_round_type'].isin(['venture','seed','angel','private_equity']),:]

In [153]:
master_frame.to_csv("C:/Users/vemul/Desktop/DataScience/Investment Case Study/Master.csv", encoding='utf-8',index=False)

In [96]:
#Grouping by funding_round_type and getting the mean in millions, rounded off to 2 decimal places
round((investment_type_filtered.groupby('funding_round_type').raised_amount_usd.mean()/10**6),2).sort_values(ascending = False)

funding_round_type
private_equity    73.39
venture           11.72
angel              0.96
seed               0.72
Name: raised_amount_usd, dtype: float64

# Checkpoint 3: Country Analysis

In [97]:
#list of country codes of english speaking country
english_speaking_cc = ['BWA','CMR','ETH','ERI','GMB','GHA','KEN','LSO','LBR','MWI','MUS','NAM','NGA','RWA','SYC','SLE','ZAF',
'SSD','SDN','SWZ','TZA','UGA','ZMB','ZWE','ATG','BHS','BRB','BLZ','CAN','DMA','GRD','GUY','JAM','KNA','LCA','VCT','TTO','USA',
'IND','PAK','PHL','SGP','AUS','FJI','KIR','MHL','FSM','NRU','NZL','PLW','PNG','WSM','SLB','TON','TUV','VUT','IRL','MLT','GBR']

In [98]:
#adding a new column to master_frame 'english_speaking' whith value 1 for yes and 0 for no
master_frame['english_speaking'] = master_frame.country_code.isin(english_speaking_cc)

In [99]:
#filtering with the requied conditions
english_venture = master_frame.loc[master_frame['funding_round_type'].isin(['venture']) & master_frame['english_speaking'] == True, ['country_code','raised_amount_usd']]
#grouping by country_code, aggregating the sum for grouped countries in millions with 2 decimal places and saving the the top 9 countries
top9 = pd.DataFrame(round(english_venture.groupby('country_code').raised_amount_usd.sum()/10**6,2)).nlargest(9,'raised_amount_usd')
top9

              raised_amount_usd
country_code
USA                   442187.92
GBR                    20072.81
IND                    14261.51
CAN                     9482.22
SGP                     2793.92
IRL                     1669.29
AUS                     1319.03
NZL                      448.32
ZAF                      233.71

Hence the top three countries based on total investment are USA, Breat Britain and India

# Checkpoint 4: Sector Analysis 1

In [100]:
#splitting the primary sector from the category list.
primary_sector_split = master_frame['category_list'].str.split('|', n = 1, expand = True)
#creating a new column and assigning the primary sector split above
master_frame['primary_sector'] = primary_sector_split[0]

In [105]:
#loading the mapping file
mapping = pd.read_csv("C:/Users/vemul/Desktop/DataScience/Investment Case Study/mapping.csv")

In [106]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [107]:
#on analysing the category list in mapping data set it found that 0 is there in words instead of 'na'.
#so replaceing '0' with 'na'
mapping['category_list'] = mapping['category_list'].str.replace('0','na')

In [108]:
#menting data frame from wide to long form
mapping_melted = pd.melt(mapping, id_vars = ['category_list'], var_name= 'main_sector').sort_values(by = 'value', ascending = False)

In [109]:
mapping_melted

,category_list,main_sector,value
3096,Hospitals,Health,1
5452,Systems,Others,1
5382,Rental Housing,Others,1
5379,Religion,Others,1
2588,Photography,Entertainment,1
5376,Recreation,Others,1
5375,Realtors,Others,1
5374,Real Time,Others,1
5373,Real Estate,Others,1
5372,QR Codes,Others,1
2587,Photo Sharing,Entertainment,1
2586,Photo Editing,Entertainment,1
5364,Project Management,Others,1
5363,Professional Services,Others,1
5361,Productivity Software,Others,1
5360,Productivity,Others,1
5359,Product Development Services,Others,1
5358,Product Design,Others,1
5357,Procurement,Others,1
5355,Private School,Others,1
5354,Privacy,Others,1
5353,Printing,Others,1
5351,Presentations,Others,1
3757,Groceries,Manufacturing,1
5348,Postal and Courier Services,Others,1
5347,Portals,Others,1
5346,Polling,Others,1
5345,Politics,Others,1
5344,Point of Sale,Others,1
5343,Plumbers,Others,1
...,...,...,...
2044,Video on Demand,Cleantech / Semiconductors,0
2043,Video Games,Cleantech / Semiconductors,0
2042,Video Conferencing,Cleantech / Semiconductors,0
2041,Video,Cleantech / Semiconductors,0
2040,Veterinary,Cleantech / Semiconductors,0
2039,Venture Capital,Cleantech / Semiconductors,0
2062,Women,Cleantech / Semiconductors,0
2064,NaN,Entertainment,0
2085,Alumni,Entertainment,0
2065,3D,Entertainment,0
2084,Alternative Medicine,Entertainment,0
2083,All Students,Entertainment,0
2082,All Markets,Entertainment,0
2081,Algorithms,Entertainment,0
2080,Air Pollution Control,Entertainment,0
2079,Agriculture,Entertainment,0
2078,Aerospace,Entertainment,0
2077,Advice,Entertainment,0
2076,Advertising Platforms,Entertainment,0
2075,Advertising Networks,Entertainment,0
2074,Advertising Exchanges,Entertainment,0
2073,Advertising,Entertainment,0
2072,Adventure Travel,Entertainment,0
2071,Advanced Materials,Entertainment,0
2070,Ad Targeting,Entertainment,0
2069,Active Lifestyle,Entertainment,0
2068,Accounting,Entertainment,0
2067,3D Technology,Entertainment,0
2066,3D Printing,Entertainment,0
6191,Young Adults,"Social, Finance, Analytics, Advertising",0

In [110]:
#selecting only those roes with values = 1
mapping_melted_1 = mapping_melted.loc[mapping_melted['value']==1,['category_list','main_sector']]

In [111]:
#renaming column category_list to primary_sector
mapping_melted_1 = mapping_melted_1.rename(columns = {'category_list':'primary_sector'})

In [112]:
mapping_melted_1

                    primary_sector                              main_sector
3096                     Hospitals                                   Health
5452                       Systems                                   Others
5382                Rental Housing                                   Others
5379                      Religion                                   Others
2588                   Photography                            Entertainment
5376                    Recreation                                   Others
5375                      Realtors                                   Others
5374                     Real Time                                   Others
5373                   Real Estate                                   Others
5372                      QR Codes                                   Others
2587                 Photo Sharing                            Entertainment
2586                 Photo Editing                            Entertainment
5364            Project Management                                   Others
5363         Professional Services                                   Others
5361         Productivity Software                                   Others
5360                  Productivity                                   Others
5359  Product Development Services                                   Others
5358                Product Design                                   Others
5357                   Procurement                                   Others
5355                Private School                                   Others
5354                       Privacy                                   Others
5353                      Printing                                   Others
5351                 Presentations                                   Others
3757                     Groceries                            Manufacturing
5348   Postal and Courier Services                                   Others
5347                       Portals                                   Others
5346                       Polling                                   Others
5345                      Politics                                   Others
5344                 Point of Sale                                   Others
5343                      Plumbers                                   Others
...                            ...                                      ...
3188               Medical Devices                                   Health
2792               Assisted Living                                   Health
6017         Performance Marketing  Social, Finance, Analytics, Advertising
5736             Email Newsletters  Social, Finance, Analytics, Advertising
5735               Email Marketing  Social, Finance, Analytics, Advertising
189                      Designers                      Automotive & Sports
188                         Design                      Automotive & Sports
3544               Civil Engineers                            Manufacturing
5739    Employer Benefits Programs  Social, Finance, Analytics, Advertising
6015                      Payments  Social, Finance, Analytics, Advertising
6018             Personal Branding  Social, Finance, Analytics, Advertising
6038          Predictive Analytics  Social, Finance, Analytics, Advertising
3187                       Medical                                   Health
3056               Genetic Testing                                   Health
6020              Personal Finance  Social, Finance, Analytics, Advertising
6012                          PaaS  Social, Finance, Analytics, Advertising
6037                      Pre Seed  Social, Finance, Analytics, Advertising
14                       Aerospace                      Automotive & Sports
6011            P2P Money Transfer  Social, Finance, Analytics, Advertising
5704            Direct Advertising  Social, Finance, Analytics, Advertising
3338                 Senior Health                                   Health
3076          Health and Insurance                                   Health
2791         Assisitive Technology                                   Health
3078                   Health Care                                   Health
3077           Health and Wellness                                   Health
3571               Computer Vision                            Manufacturing
3572                     Computers                            Manufacturing
5765         Facebook Applications  Social, Finance, Analytics, Advertising
5696         Development Platforms  Social, Finance, Analytics, Advertising
5764              Face Recognition  Social, Finance, Analytics, Advertising

[688 rows x 2 columns]

In [114]:
#removing the main_sector 'Blanks'
mapping_melted_1 = mapping_melted_1.drop(mapping_melted_1.loc[mapping_melted_1['main_sector']=='Blanks'].index,axis =0)

In [115]:
master_frame.shape

(93915, 12)

In [116]:
#merging
master_frame = pd.merge(master_frame, mapping_melted_1, how = 'inner', on = 'primary_sector')

In [117]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code,english_speaking,primary_sector,main_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0,/organization/-fame,#fame,Media,operating,IND,True,Media,Entertainment
1,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,06-10-2015,15000000.0,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,True,Media,Entertainment
2,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,07-05-2013,5800000.0,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,True,Media,Entertainment
3,/organization/90min,/funding-round/fd4b15e8c97ee2ffc0acccdbe1a98810,venture,26-03-2014,18000000.0,/organization/90min,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,True,Media,Entertainment
4,/organization/a-dance-for-me,/funding-round/9ab9dbd17bf010c79d8415b2c22be6fa,equity_crowdfunding,26-03-2014,1090000.0,/organization/a-dance-for-me,A Dance for Me,Media|News|Photo Sharing|Video,operating,USA,True,Media,Entertainment

In [118]:
master_frame.shape

(93571, 13)

# Checkpoint 5: Sector Analysis 2

In [119]:
#C1 = 'USA' for FT = 'venture'
D1 = master_frame.loc[master_frame['country_code'].isin(['USA']) & master_frame['funding_round_type'].isin(['venture']), :]
#C2 = 'GBR' for FT = 'venture'
D2 = master_frame.loc[master_frame['country_code'].isin(['GBR']) & master_frame['funding_round_type'].isin(['venture']), :]
#C3 = 'IND' for FT = 'venture'
D3 = master_frame.loc[master_frame['country_code'].isin(['IND']) & master_frame['funding_round_type'].isin(['venture']), :]

In [121]:
#The total number of investments for each main sector in a separate column
D1 = D1.assign(count_of_investments_usa = D1.groupby('main_sector')['raised_amount_usd'].transform('count'))

#The total amount invested in each main sector in a separate column
D1 = D1.assign(amount_of_investments_usa = round(D1.groupby('main_sector')['raised_amount_usd'].transform('sum')/10**6,2))

In [122]:
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code,english_speaking,primary_sector,main_sector,count_of_investments_usa,amount_of_investments_usa
7,/organization/all-def-digital,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,06-08-2014,5000000.0,/organization/all-def-digital,All Def Digital,Media,operating,USA,True,Media,Entertainment,1950,18231.26
11,/organization/audiosocket,/funding-round/0959f59e3a89bc8db8c6ed9c646349fd,venture,02-05-2013,650000.0,/organization/audiosocket,Audiosocket,Media|Music|Technology,operating,USA,True,Media,Entertainment,1950,18231.26
12,/organization/audiosocket,/funding-round/4e3a53eec6c609943df752206070b23f,venture,02-09-2009,750000.0,/organization/audiosocket,Audiosocket,Media|Music|Technology,operating,USA,True,Media,Entertainment,1950,18231.26
13,/organization/audiosocket,/funding-round/bc0b412cf2fa7b739e4105ad756b47a4,venture,15-02-2012,1582300.0,/organization/audiosocket,Audiosocket,Media|Music|Technology,operating,USA,True,Media,Entertainment,1950,18231.26
16,/organization/babble,/funding-round/43cc678b39be3e684bb88501af05ff9b,venture,05-02-2009,2000000.0,/organization/babble,Babble,Media|News|Parenting,acquired,USA,True,Media,Entertainment,1950,18231.26

In [123]:
#The total number of investments for each main sector in a separate column
D2 = D2.assign(count_of_investments_gbr = D2.groupby('main_sector')['raised_amount_usd'].transform('count'))

#The total amount invested in each main sector in a separate column
D2 = D2.assign(amount_of_investments_gbr = round(D2.groupby('main_sector')['raised_amount_usd'].transform('sum')/10**6,2))

In [124]:
#The total number of investments for each main sector in a separate column
D3 = D3.assign(count_of_investments_ind = D3.groupby('main_sector')['raised_amount_usd'].transform('count'))

#The total amount invested in each main sector in a separate column
D3 = D3.assign(amount_of_investments_ind = round(D3.groupby('main_sector')['raised_amount_usd'].transform('sum')/10**6,2))

In [125]:
D = D1.append(D2.append(D3))

C:\Users\vemul\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [152]:
D.to_csv("C:/Users/vemul/Desktop/DataScience/Investment Case Study/Companies.csv", encoding='utf-8',index=False)

In [132]:
#Total number of Investments (count) for C1
D1['raised_amount_usd'].count()

37697

In [133]:
#Total number of Investments (count) for C2
D2['raised_amount_usd'].count()

2035

In [134]:
#Total number of Investments (count) for C3
D3['raised_amount_usd'].count()

819

In [135]:
#Total amount of investment (USD) for C1
D1['raised_amount_usd'].sum()

440677062249.0

In [136]:
#Total amount of investment (USD) for C2
D2['raised_amount_usd'].sum()

19983803406.0

In [137]:
#Total amount of investment (USD) for C3
D3['raised_amount_usd'].sum()

14261508718.0

##### Pivot 1: Mean investment amount across sectors

In [138]:
round(D.pivot_table(values = 'raised_amount_usd',
             index = 'main_sector',
             columns = 'country_code',
             aggfunc = 'mean')/10**6,2)

country_code                               GBR    IND    USA
main_sector
Automotive & Sports                      10.93  50.20  21.99
Cleantech / Semiconductors               11.56  14.56  15.09
Entertainment                             8.55  12.84   9.35
Health                                    8.87  13.44   9.76
Manufacturing                             8.35  13.28  10.31
News, Search and Messaging               12.27  13.38  10.65
Others                                    8.71  22.29   9.89
Social, Finance, Analytics, Advertising   8.96  10.74  11.96

##### Pivot 2: Count of investment across sectors

In [139]:
D.pivot_table(values = 'raised_amount_usd',
             index = 'main_sector',
             columns = 'country_code',
             aggfunc = 'count')

country_code                             GBR  IND   USA
main_sector
Automotive & Sports                       44   31   554
Cleantech / Semiconductors               437   54  8128
Entertainment                            136   76  1950
Health                                   118   42  3410
Manufacturing                            122   55  2611
News, Search and Messaging               241  130  4679
Others                                   516  284  8761
Social, Finance, Analytics, Advertising  421  147  7604

In [140]:
#name and number of investments in top 3 sectors in C1
D1.groupby('main_sector')['raised_amount_usd'].count().sort_values(ascending = False).head(5)

main_sector
Others                                     8761
Cleantech / Semiconductors                 8128
Social, Finance, Analytics, Advertising    7604
News, Search and Messaging                 4679
Health                                     3410
Name: raised_amount_usd, dtype: int64

___Note: From pivot 1 we can see that the mean investment amount in sector Cleantech/ Semiconductors for funding rounf type venture is more than 15 million USD. So, the second sector will be Social, Finance, Analytics, Advertising and third will be News, Search and Messaging.___

In [141]:
#name and number of investments in top 3 sectors in C2
D2.groupby('main_sector')['raised_amount_usd'].count().sort_values(ascending = False).head(5)

main_sector
Others                                     516
Cleantech / Semiconductors                 437
Social, Finance, Analytics, Advertising    421
News, Search and Messaging                 241
Entertainment                              136
Name: raised_amount_usd, dtype: int64

In [142]:
#name and number of investments in top 3 sectors in C3
D3.groupby('main_sector')['raised_amount_usd'].count().sort_values(ascending = False).head(5)

main_sector
Others                                     284
Social, Finance, Analytics, Advertising    147
News, Search and Messaging                 130
Entertainment                               76
Manufacturing                               55
Name: raised_amount_usd, dtype: int64

___Note: From pivot 1 we can see that the mean investment amount in sector Others for funding round type venture is more than 15 million USD. So, the first sector will be Social, Finance, Analytics, Advertising, second will be News, Search and Messaging and third will be entertainment.___

In [143]:
#For point 3 (top sector count-wise), which company received the highest investment? --> C1
D1.loc[D1['main_sector']=='Others',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
Terascala      13
VectorMAX      12
Lecere         11
BTI Systems    10
Approva         9
Name: raised_amount_usd, dtype: int64

In [144]:
#For point 3 (top sector count-wise), which company received the highest investment? --> C2
D2.loc[D2['main_sector']=='Others',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
Rostima           8
Electric Cloud    7
picoChip          6
Helveta           6
SenSage           5
Name: raised_amount_usd, dtype: int64

In [145]:
#For point 3 (top sector count-wise), which company received the highest investment? --> C3
D3.loc[D3['main_sector']=='Social, Finance, Analytics, Advertising',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
Manthan Systems    6
Komli Media        4
ShopClues.com      4
PolicyBazaar       4
yepme.com          3
Name: raised_amount_usd, dtype: int64

In [146]:
#For point 4 (second best sector count-wise), which company received the highest investment? --> C1
D1.loc[D1['main_sector']=='Social, Finance, Analytics, Advertising',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
edo Interactive    11
XOS Digital        10
InstaMed           10
ChaCha              9
RockYou             9
Name: raised_amount_usd, dtype: int64

In [147]:
#For point 4 (second best sector count-wise), which company received the highest investment? --> C2
D2.loc[D2['main_sector']=='Cleantech / Semiconductors',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
Green Biologics                     6
Population Genetics Technologies    6
Horizon Discovery                   5
Sirigen                             5
F-star Biotechnology Limited        5
Name: raised_amount_usd, dtype: int64

In [148]:
#For point 4 (second best sector count-wise), which company received the highest investment? --> C3
D3.loc[D3['main_sector']=='News, Search and Messaging',:].groupby('name').raised_amount_usd.count().sort_values(ascending = False).head(5)

name
Quikr                 6
TinyOwl Technology    4
hike                  3
GupShup               3
Ezetap                3
Name: raised_amount_usd, dtype: int64